WSConfronta/src/main/resources/wsdl/objetos/Cliente.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://servicio.confronta.com.co/objetos" targetNamespace="http://servicio.confronta.com.co/objetos"
	elementFormDefault="qualified">

	<xs:include schemaLocation="Identificacion.xsd" />

	<xs:complexType name="Cliente">
		<xs:sequence>
			<xs:element name="nombres" type="xs:string" />
			<xs:element name="apellidos" type="xs:string" />
			<xs:element name="identificacion" type="tns:Identificacion" />
		</xs:sequence>
	</xs:complexType>

</xs:schema>