WServices/src/main/resources/wsdl/objetos/Ciudad.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://servicio.credito.com.co/objetos"
	targetNamespace="http://servicio.credito.com.co/objetos"
	elementFormDefault="qualified">

	<xs:include schemaLocation="Pais.xsd" />

	<xs:complexType name="Ciudad">
		<xs:sequence>
			<xs:element name="id" type="xs:string" />
			<xs:element name="nombre" type="xs:string" />
			<xs:element name="pais" type="tns:Pais" />
		</xs:sequence>
	</xs:complexType>

</xs:schema>